# Gradle
.gradle/
.gradletasknamecache
build/
**/build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Minecraft
server/

# Temp files
*.tmp
*.lock

# Eclipse
.project
.classpath